<tr>
  <td><%= Markdown::Post.human_attribute_name(:path) %></td>
  <td><%= @post.path %></td>
</tr>
<tr>
  <td><%= Markdown::Post.human_attribute_name(:title) %></td>
  <td><%= @post.title %></td>
</tr>
<tr>
  <td><%= Markdown::Post.human_attribute_name(:html) %></td>
  <td><%= @post.html.html_safe %></td>
</tr>
