<div>
  <dt><%= Markdown::Post.human_attribute_name(:path) %></dt>
  <dd><%= @post.path %></dd>
</div>
<div>
  <dt><%= Markdown::Post.human_attribute_name(:title) %></dt>
  <dd><%= @post.title %></dd>
</div>
<div>
  <dt><%= Markdown::Post.human_attribute_name(:target) %></dt>
  <dd><%= @post.target_i18n %></dd>
</div>
<div>
  <dt><%= Markdown::Post.human_attribute_name(:html) %></dt>
  <dd><%= @post.html.html_safe %></dd>
</div>
