<td>
  <p>
    <%= link_to model.title, { action: 'show', id: model.id }, class: 'has-text-weight-bold' %>
  </p>
  <p class="has-text-grey"><%= model.path %></p>
</td>
<td><%= model.layout %></td>
<td>
  <%= form_with theme: nil, model: model, url: { action: 'update', id: model.id }, data: { controller: 'input' } do |f| %>
    <%= f.check_box :shared, data: { input_target: 'checkbox' }, id: nil, class: 'switch is-rounded' %>
    <label data-action="click->input#check"></label>
  <% end %>
</td>
<td>
  <time data-controller="time"><%= model.last_commit_at.to_fs(:iso8601) %></time>
</td>
