<th><%= Markdown::Git.human_attribute_name(:type) %></th>
<th>
  <p><%= Markdown::Git.human_attribute_name(:working_directory) %></p>
  <p class="text-danger"><%= Markdown::Git.human_attribute_name(:base_name) %></p>
</th>
<th><%= Markdown::Git.human_attribute_name(:remote_url) %></th>
<th>
  <p><%= Markdown::Git.human_attribute_name(:identity) %></p>
</th>
<th>
  <p><%= Markdown::Git.human_attribute_name(:last_commit_message) %></p>
  <p class="text-grey"><%= Markdown::Git.human_attribute_name(:last_commit_at) %></p>
</th>
<th></th>