<%= render layout: 'layouts/application_head' do %>
  <%= render 'nav_bar' %>
  <main class="columns container">
    <div class="column">
      <div class="mt-2 mb-5">
        <%= render 'breadcrumb' %>
      </div>
      <div class="columns mb-0">
        <div class="column is-narrow" style="width: 260px;">
          <%= render 'nav' %>
        </div>
        <div class="column">
          <%= yield %>
        </div>
      </div>
    </div>
  </main>
  <%= render 'footer' %>
<% end %>
