<td>
  <p>
    <%= link_to model.title, { controller: '/markdown/posts', action: 'show', path: model.path }, target: '_blank', class: 'has-text-weight-bold' %>
  </p>
  <p class="has-text-grey"><%= model.path %></p>
</td>
<td><%= model.markdown.truncate(20) %></td>
<td>
  <%= form_with theme: nil, model: model, url: { action: 'update', id: model.id }, data: { controller: 'input' } do |f| %>
    <%= f.check_box :published, data: { input_target: 'checkbox' }, id: nil, class: 'switch is-rounded' %>
    <label data-action="click->input#check"></label>
  <% end %>
</td>
