<td><%= model.type_i18n %></td>
<td>
  <p><%= model.working_directory %></p>
  <p class="text-danger"><%= model.base_name %></p>
</td>
<td><%= model.organ&.name %></td>
<td>
  <p><%= model.identity %></p>
</td>
<td>
  <p><%= model.last_commit_message %></p>
  <p class="text-grey"><time data-controller="time" data-format="human"><%= model.last_commit_at&.to_fs(:iso8601) %></time></p>
</td>
<td>
  <div data-show-target="item" class="visibility-hidden">
    <%= button_to({ action: 'show', id: model.id }, aria: { label: t('.show.title') }, class: 'button is-small is-borderless') do %>
      <%= svg_tag 'circle-info', class: 'icon text-info' %>
    <% end %>
    <%= button_to({ action: 'edit', id: model.id }, aria: { label: t('.edit.title') }, class: 'button is-small is-borderless') do %>
      <%= svg_tag 'pencil', class: 'icon text-link' %>
    <% end %>
    <%= button_to({ action: 'destroy', id: model.id }, method: :delete, aria: { label: t('.destroy.title') }, data: { confirm: t('.destroy.confirm') }, class: 'button is-small is-borderless') do %>
      <%= svg_tag 'trash', class: 'icon text-danger' %>
    <% end %>
  </div>
  <div data-show-target="item" class="visibility-hidden">
    <%= link_to({ controller: 'catalogs', git_id: model.id }, class: 'button is-small is-borderless') do %>
      <i class="fa-solid fa-folder-tree text-primary"></i>
      <span class="ml-1"><%= t('.catalogs.index.title') %></span>
    <% end %>
    <%= link_to({ controller: 'posts', git_id: model.id }, class: 'button is-small is-borderless') do %>
      <i class="fa-solid fa-newspaper text-warning-dark"></i>
      <span class="ml-1"><%= t('.posts.index.title') %></span>
    <% end %>
    <%= link_to({ controller: 'assets', git_id: model.id }, class: 'button is-small is-borderless') do %>
      <i class="fa-solid fa-images text-success"></i>
      <span class="ml-1"><%= t('.assets.index.title') %></span>
    <% end %>
  </div>
</td>