<div>
  <dt><%= Markdown::Git.human_attribute_name(:working_directory) %></dt>
  <dd><%= @git.working_directory %></dd>
</div>
<div>
  <dt><%= Markdown::Git.human_attribute_name(:remote_url) %></dt>
  <dd><%= @git.remote_url %></dd>
</div>
<div>
  <dt><%= Markdown::Git.human_attribute_name(:last_commit_at) %></dt>
  <dd><%= @git.last_commit_at %></dd>
</div>
<div>
  <dt><%= Markdown::Git.human_attribute_name(:last_commit_message) %></dt>
  <dd><%= @git.last_commit_message %></dd>
</div>
<div>
  <dt><%= Markdown::Git.human_attribute_name(:secret) %></dt>
  <dd><%= @git.secret %></dd>
</div>
<div>
  <dt><%= Markdown::Git.human_attribute_name(:url) %></dt>
  <dd><%= @git.url %></dd>
</div>
