<tr>
  <td class="has-text-right"><%= Markdown::Post.human_attribute_name(:path) %></td>
  <td><%= @post.path %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Markdown::Post.human_attribute_name(:title) %></td>
  <td><%= @post.title %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Markdown::Post.human_attribute_name(:markdown) %></td>
  <td><%= @post.markdown %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Markdown::Post.human_attribute_name(:html) %></td>
  <td><%= @post.html %></td>
</tr>
