<td><%= model.type_i18n %></td>
<td><%= model.working_directory %></td>
<td><%= model.remote_url %></td>
<td>
  <p><%= model.identity %></p>
  <p><%= model.host %></p>
</td>
<td>
  <p><%= model.last_commit_message %></p>
  <p class="has-text-grey"><time data-controller="time" data-format="yyyy-MM-dd HH:mm:ss"><%= model.last_commit_at&.to_fs(:iso8601) %></time></p>
</td>
