<th><%= Markdown::Git.human_attribute_name(:type) %></th>
<th><%= Markdown::Git.human_attribute_name(:working_directory) %></th>
<th><%= Markdown::Git.human_attribute_name(:remote_url) %></th>
<th><%= Markdown::Git.human_attribute_name(:identity) %></th>
<th>
  <p><%= Markdown::Git.human_attribute_name(:last_commit_message) %></p>
  <p class="has-text-grey"><%= Markdown::Git.human_attribute_name(:last_commit_at) %></p>
</th>
