<% if @post.present? %>
  <div data-id="<%= @post.id %>" class="content p-4">
    <h1><%= @post.title %></h1>
    <%= render partial: 'time', locals: { post: @post } %>
    <%= @post.html.html_safe %>
  </div>
<% else %>
  <%= render layout: 'index_table' do %>
    <%= render partial: 'catalog_tbody', layout: 'index_tr', collection: @catalog.children, as: :model if @catalog %>
    <%= render partial: 'index_tbody', layout: 'index_tr', collection: @posts, as: :model %>
  <% end %>

  <%= paginate @posts %>
<% end %>
