<% if @post.layout.present? %>
  <h1 class="title text-centered pt-5"><%= @post.title %></h1>
  <%= render partial: "md_layout/#{@post.layout}", collection: @post.raw_block_texts, as: :item %>
<% else %>
  <div data-id="<%= @post.id %>" class="content p-4">
    <h1><%= @post.title %></h1>
    <%= render partial: 'time', locals: { post: @post } %>
    <%= @post.html.html_safe %>
  </div>
<% end %>
